<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QnA App</title>
</head>
<body>
    <nav class="header">
        <div>
            <a href="#">Quyết.đê!!</a>
        </div>

        <div style="{{ask}}">
            <a href="/question">Hỏi nhanh</a>
        </div>

        <div style="{{answer}}">
            <a href="/answer">Đáp gọn</a>
        </div>

    </nav>
    {{{body}}}

</body>
</html>