<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QuyetDee</title>

    <script 
        src="http://code.jquery.com/jquery-3.3.1.min.js"   
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   
        crossorigin="anonymous">
    </script>
    
</head>
<body>
    <nav>
        <a href="/ask">Hoi nhanh</a>
        <a href="/">Dap gon</a>
    </nav>
    {{{body}}} 
     {{!-- de handlebars render ra cac views hien tai: ask va home --}}
</body>
</html>