<h3>{{question.content}}</h3>

<div>
    <a href="/answer/{{question.id}}/no">
        <button>Sai / Khong / Trai</button>
    </a>
    <a href="/answer/{{question.id}}/yes">
        <button>Dung / Co / Phai</button>
    </a>
</div>

<div>
    <a href="/question/{{question.id}}">
        <button>Voting result</button>
    </a>
    <a href="/">
        <button>Other question</button>
    </a>
</div>