<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quyet De</title>
</head>
<body>
    <nav>
        <a href="/ask">Hoi nhanh</a>
        <a href="/">Dap gon</a>
    </nav>
    {{{body}}} 
    {{!-- de handlebars nhet nhung views hien tai vao --}}
</body>
</html>

{{!-- dùng handlebars để hỗ trợ trong phần ngẫu nhiên tạo ra câu hỏi --}}
{{!-- nếu dùng html bình thường: số lượng file = số lượng câu hỏi ==> bất tiện  --}}