<section class="answer">
    <h1></h1>

    <button class="button" id="yes">Đúng / Có</button>
    <button class="button" id="no">Sai / Không</button>
    
    <button class="buttonResult">Kết quả vote</button>
    <button class="buttonOtherQues">Câu hỏi khác</button>

</section>