<section class="question">
    <div>
        <h1>Hãy hỏi cộng đồng một câu hỏi yes/no hoặc có/không</h1>
        <textarea>Đặt câu hỏi tại đây</textarea>
        <span>Còn 200/200 kí tự</span>
        <button type="submit">Gửi</button>
    </div>

</section>