<h1>Hay dat 1 cau hoi dang co/khong or dung/sai</h1>


<form action="/question/add" method="POST" class="ask">
    <textarea id="question" name="questionContent" placeholder="Dat cau hoi o day..."></textarea>
    <p>con <span id="remain">200</span>/200 ki tu</p>

    <button type="submit">Gui</button>
</form>

<script>
    let char = 200;
    document.getElementById("question").addEventListener("input", function() {
        document.getElementById("remain").innerText = char - document.getElementById("question").value.length;
    })
</script>
