<h1>Hay dat 1 cau hoi dang co/khong or dung/sai</h1>


<form action="/question/add" method="POST" class="ask">
    <textarea name="questionContent" placeholder="Dat cau hoi o day..."></textarea>
    <p>con 200/200 ki tu</p>

    <button type="submit">Gui</button>
</form>
