<section class="ask">
        <div>
            <h1>Hãy đặt 1 câu hỏi có dạng đúng/sai hoặc có/không</h1>
            <textarea placeholder="Đặt câu hỏi ở đây..."></textarea>
            <p>Còn 200/200 kí tự</p>
            <button type="submit">Gửi</button>
        </div>
</section>