<h3>{{question.content}}</h3>

<div>
    <a href="/answer/{{question.id }}/no">
        <button class="button" id="buttonNo">Sai / Khong / Trai</button>
    </a>
    <a href="answer/{{question.id}}/yes ">
        <button class="button" id="buttonYes">Dung / Co / Phai</button>
    </a>
</div>

<div>
    <a href="/question/{{question.id}}">
        <button class="button" id="buttonResult">Ket qua vote</button>
        </a>
    <a href="/">
        <button class="button" id="buttonOther">Other question</button>
    </a>
</div>